{% extends 'base.html' %}

{% block title %}Temperatura i Wilgotność{% endblock %}

{% block content %}
<div class="container">
    <h2>Ustawienia alertów</h2>
    <form>
        <p>Zostań poinformowany mailowo gdy progi temperatur zostaną przekroczone</p> <br>
        <div class="form-group">
            <label for="email">Twój adres e-mail:</label>
            <input type="email" id="email" name="email" required> <br>
        </div>
        <div class="form-group">
            <label for="min-temp">Minimalna dopuszczalna temperatura (°C):</label>
            <input type="number" id="min-temp" name="min-temp" required>
        </div>
        <div class="form-group">
            <label for="max-temp">Maksymalna dopuszczalna temperatura (°C):</label>
            <input type="number" id="max-temp" name="max-temp" required>
        </div>
        <button type="submit">Zapisz ustawienia</button>
    </form>
</div>
{% endblock %}